* {
margin: 0;
padding: 0;
}

body {
    display: flex;
    justify-content: center;
}
.btn-modern {
    background-color: rgb(12, 170, 190);
    color: antiquewhite;
    font-size: 13pt;
    height: 100px;
    width: 200px;
    border: none;
    margin: 20px; 
    
    transition: all 0.4s;
    
}

.btn-modern:hover {
    transform: translateY(-5px);
    background-color: rgb(0, 150, 170);
    color: rgb(255, 255, 100);
    box-shadow: 0 0 8px rgb(0, 70, 102);
    cursor: pointer;
}